.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}
.calculator input {
	grid-column: 1 / span 3;
	/* box-shadow: 3px 3px 1px grey; */
}

.calculator {
	padding: 10px;
	border: 2px solid black;
	border-radius: 6px;
	max-width: 200px;
	box-shadow: 10px 10px 8px grey;
	background-color: #413c69;

}

.calculator input, .calculator button {
	display: block;
	padding: 10px 0;
}
button{
	/* box-shadow: 3px 3px  grey; */
	border-radius: 18%;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d8e3e7;
}

header{
	text-align: center;
}
